/* https://stackoverflow.com/questions/2182716/is-it-possible-to-set-the-equivalent-of-a-src-attribute-of-an-img-tag-in-css */
@media screen and (min-width: 250px) {
.cat {
	content:url(images/kitten-small.png);
	}
.kittyloaf {
	content:url(images/kittyloaf.gif);
	}
body {
	background-image:url(images/trip1.gif);
}
}		
@media screen and (min-width: 680px) {
.cat {
	content:url(images/kitten-medium.png);
	}
	body {
	background-image:url(images/snowwhite.gif);
}
@media screen and (min-width: 800px) {
.cat {
	content:url(images/kitten-large.png);
	}
body {
	background-image:url(images/trip1.gif) ;
}
}
.center-vertical {
	display:flex;
	justify-content: center;
	height: inherit;
}
.center-horizontal {
	display: flex;
	align-items: center;
}
